.get-started{
    background-image: url("../../../images/get-started/backgorund-get-started.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started__container{
    padding-top: 115px;
    padding-bottom: 115px;
}

.get-started__title{
    font-family: Cormorant, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
    line-height: 1;
}

.get-started__link a {
    color: #BAE249;
    text-decoration: none;
}

.get-started__text {
    color: #ffffff;
    text-decoration: none;  
}
.icon {
    width: 43px; 
    height: 15px; 
    fill: #BAE249; 
    margin-left: 8px; 
}
